<template name="layout">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">Pointly </a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				{{#if currentUser}}
				<li><a class = "btn" href="/dashboard">Dashboard</a></li>
				<li><a class = "btn" onclick="Meteor.logout()">Log Out</a></li>
				{{else}}
				<li><a href="/sign-in">Sign In</a></li>
				<li><a class = "btn" href="/sign-up">Sign Up</a></li>
				{{/if}}
			</ul>
			<ul class="side-nav" id="mobile-demo">
				{{#if currentUser}}
				<li><a class = "btn" href="/dashboard">Dashboard</a></li>
				{{else}}
				<li><a href="/sign-in">Sign In</a></li>
				<li><a class = "btn" href="/sign-up">Sign Up</a></li>
				{{/if}}
			</ul>
		</div>
	</nav>
	{{> yield}}
</template>