// Variables

primary = #34495e
secondary = #1abc9c

// -----------------------------------------------------------

// Navbar

.nav-wrapper
	background-color primary

.brand-logo
	padding-left 1em !important

// -----------------------------------------------------------

// Components

.btn
	background-color secondary